<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="15">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
        	<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}: %msg%n" />
        </Console>
        <File name="ServiceLogFile" fileName="service.log" immediateFlush="true" append="true">
        	<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36}: %msg%n" />
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console" />
            <AppenderRef ref="ServiceLogFile"/>
        </Root>
    </Loggers>
</Configuration>
